<div class="wrapper">
  <div class="one home-boxes">
  </div>
  <div class="two home-boxes">
    <div>
      <h1 class="home-text">F</h1>
      <h1 class="home-text">L</h1>
      <h1 class="home-text">I</h1>
      <H1 class="home-text">G</H1>
      <H1 class="home-text">H</H1>
      <H1 class="home-text">T</H1>
    </div>
  </div>
  <div class="three home-boxes">Three</div>
  <div class="four home-boxes">
    <div class="cloud">
      <img src="assets/images/cloud.jpg" alt="" width=100px height=100px>
    </div>
  </div>
  <div class="five home-boxes">Five</div>
  <div class="six home-boxes">
    <div class="home-text">
      <H2>WITH</H2>
    </div>
  </div>
  <div class="seven home-boxes">Six</div>
  <div class="eight home-boxes">
    <h1 class="home-text">FLOW</h1>
  </div>
</div>