<div class="wrapper">
  <div class="one home-boxes">
  </div>
  <div class="two home-boxes">
    <div>
      <h1 class="home-text">T</h1>
      <h1 class="home-text">R</h1>
      <h1 class="home-text">A</h1>
      <H1 class="home-text">V</H1>
      <H1 class="home-text">E</H1>
      <H1 class="home-text">L</H1>
    </div>
  </div>
  <div class="three home-boxes"></div>
  <div class="four home-boxes">
  </div>
  <div class="five home-boxes"></div>
  <div class="six home-boxes">
    <div class="home-text">
      <H3>WITH</H3>
    </div>
  </div>
  <div class="seven home-boxes"></div>
  <div class="eight home-boxes">
    <h1 class="home-text art">ART</h1>
  </div>
  <div class="nine home-boxes"></div>
</div>