.wrapper {
  display: grid;
  grid-template-columns: repeat(5,1fr);;
  grid-template-rows: repeat(10,1fr);
  width: 100vw;
  height: 200vh;
background-color: black;
}

#event-booking {
  background-color: yellow;
  border: 1px solid black;
  grid-column: 1 / 5;
  grid-row: 1;
  margin: 5%;
  color: white;
  position: relative;
  animation: move-left 5s;
}

#flight-out-booking {
  background-color: red;
  border: 1px solid black;
  grid-column: 2 / 6;
  grid-row: 2;
  margin: 5%;
  color: white;
  position: relative;
  animation: move-right 6s;
}

#flight-back-booking {
  background-color: #00c1ff;
  border: 1px solid black;
  grid-column: 1 / 5;
  grid-row: 3;
  margin: 5%;
  color: white;
  position: relative;
  animation: move-left 7s;
}

@keyframes move-right  {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes move-left  {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
