
form {
  background-color: #00c1ff;
  margin-bottom: 15%;
}

.event-card {
  background-color: white;
  border: 5px solid black;
  margin-bottom: 5%;
  width: 92%;
  margin-left: 4%;
  padding-top: 10%; 
}

.event-card h2 {
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

.btn {
  background-color: yellow;
  width: 72%;
  margin-left: 15%;
} 

.card-description {
  padding: 5%;
  font-size: 1em;
}

.select-flight {
  background-color: red;
  border: 5px solid black;
  margin: 5%;
  width: 92%;
  margin-left: 4%;
  padding-top: 10%; 
  color: white;
}



