<div class="forms">
  <form (ngSubmit)="submitForm(SearchForm)" #SearchForm="ngForm">
    <div>
      <h1>Search for an event:</h1>
      <input type="text" [(ngModel)]="query" required name="search" placeholder="Search for a band: e.g Rolling Stones" id="searchBar">
    </div>
    <div>
      <button type="submit" id="eventButton">Search</button>
    </div>
  </form>
</div>
<div *ngIf="events">
  <ul>
    <li *ngFor="let event of events">
      <div class="event-card">
        <h1>{{ event.name.text }}</h1>
        <div>
          {{ fligths.locations }}
        </div>
        <button>Buy ticket</button>
      </div>
    </li>
  </ul>
</div>