<div class="forms">
  <form (ngSubmit)="submitForm(SearchForm)" #SearchForm="ngForm">
    <div>
      <h1>Where would you like to travel?</h1>
      <!-- <input type="text" [(ngModel)]="start" required name="location" placeholder="From" id="searchBar"> -->
      <input type="text" [(ngModel)]="end" required name="search" placeholder="To">
      <!-- <input type="date" [(ngModel)]="datestart" required name="from">
      <input type="date" [(ngModel)]="dateend" required name="to"> -->
    </div>
    <div>
      <button type="submit" id="eventButton">Search</button>
    </div>
  </form>
</div>

<div *ngIf="events">
  <ul>
    <li *ngFor="let event of events">
      <div class="event-card">
        <h1>{{ event.name.text }}</h1>
        <h2> {{ event.start.local | date: "short" }}</h2>
        <h4 class="card-description"> {{ event.description.text | slice: 0:200 }}...</h4>
        <!-- <div>
          {{ flights | json }}
        </div> -->
        <button class="btn" type="submit">Get event ticket</button>
        <button class="btn" type="submit">Get flight ticket</button>
      </div>
    </li>
  </ul>

</div>