
form {
  background-color: #00c1ff;
  margin-bottom: 15%;
}

.event-card {
background-color: white;
border: 5px solid black;
margin-bottom: 5%;
width: 92%;
}

ul {
  list-style-type: none;
}

.btn {
  background-color: yellow;
  width: 72%;
  margin-left: 15%;
} 

