



/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-size: 0.5em;
}

p {
  margin: 0;
}

/* ---- layout ---- */

/* #site-main {
  margin-bottom: 60px;
} */

/* .container {
  margin: 0 0px;
  display: flex;
  justify-content: space-around;
} */

header {
  height: 10vh;
  padding: 0 5%;
  background-color: black;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  padding-top: 5%;
}

#logo {
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-color: #00c1ff;
  justify-content: center;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

#site-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 5%;
}

#social-logos {
  width: 55%;
}

#social-logos i {
  padding: 5%;
  text-align: center;
}

