<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">

<header id="site-header">
  <h1 id="logo">Floight</h1>

  <a href="/signup" id="signup-nav">Signup</a>
  <a href="/login" id="login-nav">Login</a>
  <a href="/search" id="explore-nav">Explore</a>
</header>

<link href="https://fonts.googleapis.com/css?family=Rufina" rel="stylesheet">

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div id="social-logos">
    <i class="far fa-envelope"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
  </div>
  <div id="creator">
    <p>© Copyright Javier Romero 2018</p>
  </div>
</footer>