<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


<header id="site-header">
  <div id="logo-nav">
    <a [routerLink]="['/']">
      <h1 id="logo">FLOIGHT</h1>
    </a>
    <a [routerLink]="['/signup']" class="nav-links">Signup</a>
    <a [routerLink]="['/login']" class="nav-links">Login</a>
    <a [routerLink]="['/search']" class="nav-links">Explore</a>
    <a [routerLink]="['/']" class="nav-links">Logout</a>
  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
  <div>
    <h1></h1>
  </div>
</div>

<footer id="site-footer">
  <div id="social-logos">
    <i class="far fa-envelope"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
  </div>
  <div id="creator">
    <p>© Copyright Javier Romero 2018</p>
  </div>
</footer>