



/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-size: 0.5em;
}

h2 {}

h3 {}

p {
  margin: 0;
}





/* ---- layout ---- */

/* #site-main {
  margin-bottom: 60px;
} */

.container {
  margin: 0 0px;
  display: flex;
  justify-content: space-between;
}

header {
  height: 10vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 2;
}

#signup-nav {
  grid-column: 3;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

#menu-logo img {
  width: 30%;
  padding-left: 10px;
}


header  {
  background-color: black;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

footer {
  background-color: black;
  color: white;
  padding: 50px;
}