<!-- <div class="forms" *ngIf='event'>
  <form (ngSubmit)="submitForm(FlightForm)" #FlightForm="ngForm">
    <div>
      <h1> Searching for flights to {{ event.name.text }} </h1>
      <h2> From: Barcelona </h2>
      <h2>To: {{ eventCity.search }}</h2>

      <h2> Starting date: {{ event.start.local | date: "short" }} </h2>
      <h2> End date: {{ event.end.local | date: "short" }}</h2>
    </div>

  </form>
</div> -->



<div *ngIf="flightsOut && !flightOutPicked" class="flightsout-card">
  <h1> Flights from Barcelona to {{ eventCity.search }}</h1>
  <form>
    <ul>
      <li *ngFor="let flight of flightsOut">
        <div class="flights-card">
          <h1>
            <strong>Departure:</strong> {{ flight.departure | date:'short' }} </h1>
          <h1>
            <strong>Duration:</strong> {{ flight.fly_duration }} </h1>
          <h1>
            <strong>Price: </strong> {{ flight.price }}€</h1>
          <button class="btn" (click)="selectFlightOut(flight)" class="btn">Select flight</button>
        </div>
      </li>
    </ul>
  </form>
</div>


<div *ngIf="flightsBack && flightOutPicked" class="flightsBack-card">
  <h1> Flights from {{ eventCity.search }} to Barcelona </h1>
  <ul>
    <li *ngFor="let flight of flightsBack">
      <div class="flights-card">
        <h2> Price: {{ flights.price }}</h2>
        <button class="btn" type="submit">Book flight</button>
      </div>
    </li>
  </ul>
</div>