


ul {
  padding: 0;
  list-style-type: none;
}

.flightsout-card {
  padding-top: 10%;
  background-color: white;
  border: 5px solid black;
  margin-bottom: 5%;
  width: 92%;
  margin-left: 4%;
  padding-top: 10%; 
}


.flightsBack-card {
  padding-top: 10%;
  background-color: white;
  border: 5px solid black;
  margin-bottom: 5%;
  width: 92%;
  margin-left: 4%;
}

.btn {
  background-color: yellow;
  width: 70%;
  margin-left: 15%;
}

hr {
  border: 2px solid black;
}

.searching-flights {
  padding: 10%;
  background-color: yellow;
  border: 5px solid black;
  margin: 10%;
  margin-bottom: 55%;
}

.select-flight {
  background-color: #00c1ff;
  border: 5px solid black;
  margin: 5%;
}

h1 {
  margin-bottom: 8%;
}